# include
include LICENSE
include README.md
include pyproject.toml
include manifest.in

# get source
graft src

# exclude directories
prune examples
prune tests
prune notebooks
.spyproject

# exclude files
exclude .gitignore