name: Upload Python Package (TestPyPI)

on:
  release:
    types: [published, prereleased]

permissions:
  contents: read

jobs:
  release-build:
    # Only run this workflow for prereleases
    if: ${{ github.event.release.prerelease == true }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build release distributions
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
          python -m build
          python -m twine check dist/*

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  testpypi-publish:
    if: ${{ github.event.release.prerelease == true }}
    runs-on: ubuntu-latest
    needs:
      - release-build

    permissions:
      id-token: write

    environment:
      name: testpypi
      # Optional:
      # url: https://test.pypi.org/project/YOURPROJECT/

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          repository-url: https://test.pypi.org/legacy/
